  <header>
    <nav>
      <div class="nav_header">
        <img src="/assets/Blackbutter-logo.jpg" alt="Blackbutte Logo">
        <span>Calculator</span>
        <div class="time" id="timer"></div>
      </div>
      <div class="subjects">
        <span>Mathematics</span>
        <span>English</span>
      </div>
    </nav>
  </header>
  <main>
    <div class="quiz">
      <div class="quiz_header">
        <h1>QUESTION 1 OF 10</h1>
      </div>
      <div class="quiz_question">
        <p>What is 2 multiplied by 2</p>
      </div>
      <div class="options">
        <ul>
          <li>4</li>
          <li>3</li>
          <li>5</li>
          <li>i don't know</li>
        </ul>
      </div>
      <div class="button_group">
        <button class="prev">Prev</button>
        <button class="next">Next</button>
      </div>
    </div>
  </main>
  <section>
    <div class="calculator">
      <div class="display">
        0
      </div>
      <div class="num_ops">
        <span>1</span>
        <span>2</span>
        <span>3</span>
        <span>4</span>
        <span>5</span>
        <span>6</span>
        <span>7</span>
        <span>8</span>
        <span>9</span>
        <span>0</span>
      </div>
    </div>
  </section>
<script src="/client/scripts/quiz.js"></script>