
		<main>
			<div class="login">
				<div class="header">
					<img src="/assets/Blackbutter-logo.jpg" alt="Blackbutter Logo" />
					<h2>Blackbutter CBTE</h2>
					<small>Computer Based Trial Exam</small>
				</div>
				<form>
					<label>Registration Number</label>
					<input
						type="text"
						placeholder="Enter registration number"
						class="reg_number" />
					<button>Start Exam</button>
				</form>
			</div>
		</main>